.about-wrapper {
  display: flex;
  padding: 0.625rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 8.75rem;
  .about-img {
    width: 50%;
    max-height: 31.25rem;
  }
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .about-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    h2 {
      color: $secondaryColor;
      text-align: center;
      font-family: $primaryFont;
      font-size: 2rem;
    }
    p {
      font-family: $primaryFont;
      padding: 1.25rem;
      font-size: 1.25rem;
      text-align: center;
    }
  }
}
.footer--exceptindex {
  position: relative;
}
footer {
  .copyright-wrapper--color {
    p {
      color: $primaryColor;
    }
  }
  .link-wrapper--color {
    p {
      color: $primaryColor;
    }
  }
}

// ---mediaQuery---

@include mediumScreen {
  .about-wrapper {
    display: block;
    width: 100%;
    .about-img {
      width: 100%;
      height: 60vh;
    }
    .about-text {
      width: 100%;
      padding: 1.25rem;
      h2 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1.15rem;
        padding: 0.625rem;
      }
    }
  }
}
