.about-wrapper {
  display: flex;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 140px;
  .about-img {
    width: 50%;
    max-height: 500px;
    // @include flex(center, center);
    // display: flex;
    // justify-content: center;
  }
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .about-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    h2 {
      color: $secondaryColor;
      text-align: center;
      font-family: $primaryFont;
    }
    p {
      font-family: $primaryFont;
      padding: 20px;
    }
  }
}
footer {
  .copyright-wrapper--color {
    p {
      color: $primaryColor;
    }
  }
  .link-wrapper--color {
    p {
      color: $primaryColor;
    }
  }
}

@media only screen and (max-width: 850px) {
  .about-wrapper {
    display: block;
    width: 100%;
    .about-img {
      width: 100%;
      height: 60vh;
    }
    .about-text {
      width: 100%;
      padding: 20px;
      h2 {
        text-align: center;
      }
      p {
        padding: 10px;
        text-align: center;
      }
    }
  }
}
