.contact-form {
  width: 85%;
  margin: 0 auto;
  display: flex;
  margin-top: 8.75rem;
  h2,
  p,
  h4 {
    font-family: $secondaryFont;
  }
}
.contact-form .contact-form-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 1.25rem;
    color: $secondaryColor;
  }
  .contact-form-left-info {
    margin-top: 2.0625rem;
  }
  .wrapper {
    display: flex;
    margin-top: 1.25rem;
    .info {
      margin-left: 1.875rem;
    }
  }
}

.iconbackground {
  @include flex(center, center);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 0.0625rem solid $secondaryColor;
  &:hover {
    background-color: #515e2729;
    cursor: pointer;
    transition: 0.7s;
  }
}

.contact-form-right {
  width: 50%;
  @include flex(center, center);
  .formwrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    label,
    input,
    textarea,
    .form-btn {
      font-family: $secondaryFont;
    }
    label {
      color: $secondaryColor;
      font-weight: bold;
      margin-top: 0.625rem;
    }
    input {
      height: 1.875rem;
      padding: 0.3125rem;
    }
    .form-btn {
      width: 5.62rem;
      margin: 1.875rem 0rem;
      padding: 0.31rem 0.625rem;
      cursor: pointer;
      color: $secondaryColor;
      font-weight: bold;
      border-radius: 0.94rem;
      border: 1px solid $primaryColor;
      &:hover {
        background-color: #515e2729;
        color: $primaryColor;
        transition: 0.7s;
      }
    }
  }
}

input:focus,
textarea:focus {
  background-color: #515e2729;
}

// ---mediaQuery---

@include mediumScreen {
  .contact-form {
    flex-direction: column;
    align-items: center;
    .contact-form-left {
      width: 100%;
      align-items: center;
      .form-title {
        text-align: center;
      }
      .form-text {
        padding: 0rem 3.125rem;
        text-align: center;
      }
    }
    .contact-form-right {
      width: 100%;
      margin-top: 3.125rem;
    }
  }
}

@include smallScreen {
  .contact-form {
    .contact-form-left-info {
      margin-top: 0.94rem;
      .wrapper {
        flex-direction: column;
        align-items: center;
        h4,
        p {
          padding: 0.625rem;
        }
        .info {
          margin: 0;
          display: flex;
          flex-direction: column;
          margin: 0;
          align-items: center;
        }
      }
    }
  }
  .contact-form-right {
    margin-top: 4.375rem;
  }
}
