.grid-container {
  display: grid;
  width: 90%;
  gap: 0.9375rem;
  margin: 0 auto;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 6.25rem;
  margin-top: 8.75rem;
  margin-bottom: 3.4375rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .layer {
    color: $tertiaryColor;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    transition: 1s;
    opacity: 0;
    @include flex(center, center);
    p {
      font-family: $tertiaryFont;
      font-size: 1.875rem;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

.grid-item1 {
  grid-column: 1/4;
  grid-row: 1/4;
  position: relative;
}

.grid-item2 {
  grid-column: 4/6;
  grid-row: 1/4;
  position: relative;
}
.grid-item3 {
  grid-column: 6/9;
  grid-row: 1/7;
  position: relative;
}
.grid-item4 {
  grid-column: 3/6;
  grid-row: 4/7;
  position: relative;
}
.grid-item5 {
  grid-column: 1/3;
  grid-row: 4/7;
  position: relative;
}
.grid-item6 {
  grid-column: 1/3;
  grid-row: 7/13;
  position: relative;
}
.grid-item7 {
  grid-column: 3/7;
  grid-row: 7/10;
  position: relative;
}
.grid-item8 {
  grid-column: 7/9;
  grid-row: 7/13;
  position: relative;
}
.grid-item9 {
  grid-column: 3/7;
  grid-row: 10/13;
  position: relative;
}

// ---mediaQuery---

@include mediumScreen {
  .grid-item1 {
    grid-column: 1/5;

    grid-row: 1/4;
  }
  .grid-item2 {
    grid-column: 5/9;

    grid-row: 1/4;
  }
  .grid-item3 {
    grid-column: 1/5;
    grid-row: 4/7;
  }
  .grid-item4 {
    grid-column: 5/9;
    grid-row: 4/7;
  }
  .grid-item5 {
    grid-column: 1/5;
    grid-row: 7/10;
  }
  .grid-item6 {
    grid-column: 5/9;
    grid-row: 7/10;
  }
  .grid-item7 {
    grid-column: 1/5;
    grid-row: 10/13;
  }
  .grid-item8 {
    grid-column: 5/9;
    grid-row: 10/13;
  }
  .grid-item9 {
    grid-column: 1 / 9;
    grid-row: 13/16;
  }
}

@include smallScreen {
  .grid-container {
    .grid-item1 {
      grid-column: 1/10;

      grid-row: 1/3;
    }
    .grid-item2 {
      grid-column: 1/10;
      grid-row: 3/5;
    }
    .grid-item3 {
      grid-column: 1/10;
      grid-row: 5/7;
    }
    .grid-item4 {
      grid-column: 1/10;
      grid-row: 7/9;
    }
    .grid-item5 {
      grid-column: 1/10;
      grid-row: 9/11;
    }
    .grid-item6 {
      grid-column: 1/10;
      grid-row: 11/13;
    }
    .grid-item7 {
      grid-column: 1/10;
      grid-row: 13/15;
    }
    .grid-item8 {
      grid-column: 1/10;
      grid-row: 15/17;
    }
    .grid-item9 {
      grid-column: 1/10;
      grid-row: 17/19;
    }
  }
}
