@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  height: 3.125rem;
  background-color: white;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.nav a {
  text-decoration: none;
}

.nav .nav-logo {
  font-size: 1.2rem;
  font-family: "Poiret One", cursive;
  color: black;
}

.nav .nav-logo span {
  color: #515e27;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 100%;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.75rem;
}

.nav-menu.active {
  left: 0%;
}

.nav-item {
  list-style: none;
}

.nav-item .nav-link {
  margin: 0px 1.25rem;
  font-family: "Cinzel", serif;
  color: #515e27;
  font-size: 0.9rem;
  cursor: pointer;
}

.nav-item .nav-link:hover {
  color: black;
}

.nav-icons {
  font-size: 0.9rem;
}

.nav-icons .bx {
  color: #515e27;
  font-size: 1.3rem;
  margin-left: 0.46rem;
  margin-right: 0.46rem;
  cursor: pointer;
}

.nav-icons .bx:hover {
  color: black;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu .bar {
  width: 1.5625rem;
  height: 0.125rem;
  margin: 0.3125rem auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #515e27;
}

.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-0.25rem, 0.34375rem);
          transform: rotate(-45deg) translate(-0.25rem, 0.34375rem);
}

.burger-menu.active .bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-0.25rem, -0.34375rem);
          transform: rotate(45deg) translate(-0.25rem, -0.34375rem);
}

.hero-page {
  position: relative;
  background-image: url(/img/backgroundimg3.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.hero-page .hero-title h3 {
  font-weight: 400;
  color: white;
  font-size: clamp(1.4375rem, 8vw, 28.125rem);
  font-family: "Poiret One", cursive;
  text-align: center;
}

.hero-page .hero-title h3 span {
  font-size: clamp(1.4375rem, 7vw, 28.125rem);
  color: white;
}

.hero-page .hero-title h1 {
  text-align: center;
  font-size: clamp(0.95rem, 4vw, 3.125rem);
  color: white;
  font-family: "Poiret One", cursive;
  font-weight: lighter;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.375rem;
  margin-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  padding: 0.625rem;
}

.footer .copyright-wrapper {
  width: 50%;
}

.footer .link-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer p {
  font-family: "Cinzel", serif;
  font-weight: lighter;
  font-size: 0.625rem;
}

.footer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 53.125rem) {
  .nav-wrapper {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .nav-menu {
    background-color: rgba(16, 16, 16, 0.523);
    height: 100vh;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -150%;
    position: absolute;
    top: 0;
    text-align: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    margin: 0;
  }
  .nav-menu .nav-item {
    padding: 1.25rem 0;
  }
  .nav-menu .nav-item-top {
    margin-top: 6.25rem;
  }
  .nav-menu .nav-link {
    color: white;
  }
  .nav-menu .nav-link:hover {
    color: #515e27;
  }
  .nav-icons {
    padding: 1.25rem 0;
  }
  .nav-icons .bx {
    color: white;
  }
  .nav-icons .bx:hover {
    color: #515e27;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 1;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 34.375rem) {
  .footer .link-wrapper {
    display: block;
    margin-bottom: 60px;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  width: 90%;
  gap: 0.9375rem;
  margin: 0 auto;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 6.25rem;
  margin-top: 8.75rem;
  margin-bottom: 3.4375rem;
}

.grid-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.grid-container .layer {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid-container .layer p {
  font-family: "Amatic SC", cursive;
  font-size: 1.875rem;
}

.grid-container .layer:hover {
  cursor: pointer;
  opacity: 1;
}

.grid-item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  position: relative;
}

.grid-item2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  position: relative;
}

.grid-item3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  grid-row: 1/7;
  position: relative;
}

.grid-item4 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  position: relative;
}

.grid-item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  position: relative;
}

.grid-item6 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  grid-row: 7/13;
  position: relative;
}

.grid-item7 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7/10;
  position: relative;
}

.grid-item8 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 7;
  -ms-grid-row-span: 6;
  grid-row: 7/13;
  position: relative;
}

.grid-item9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  grid-row: 10/13;
  position: relative;
}

@media only screen and (max-width: 53.125rem) {
  .grid-item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .grid-item2 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
  }
  .grid-item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .grid-item4 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
  }
  .grid-item5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .grid-item6 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 7;
    -ms-grid-row-span: 3;
    grid-row: 7/10;
  }
  .grid-item7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
  .grid-item8 {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    -ms-grid-row: 10;
    -ms-grid-row-span: 3;
    grid-row: 10/13;
  }
  .grid-item9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1 / 9;
    -ms-grid-row: 13;
    -ms-grid-row-span: 3;
    grid-row: 13/16;
  }
}

@media only screen and (max-width: 34.375rem) {
  .grid-container .grid-item1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .grid-container .grid-item2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
  }
  .grid-container .grid-item3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 5;
    -ms-grid-row-span: 2;
    grid-row: 5/7;
  }
  .grid-container .grid-item4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
  .grid-container .grid-item5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 9;
    -ms-grid-row-span: 2;
    grid-row: 9/11;
  }
  .grid-container .grid-item6 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 11;
    -ms-grid-row-span: 2;
    grid-row: 11/13;
  }
  .grid-container .grid-item7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 13;
    -ms-grid-row-span: 2;
    grid-row: 13/15;
  }
  .grid-container .grid-item8 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 15;
    -ms-grid-row-span: 2;
    grid-row: 15/17;
  }
  .grid-container .grid-item9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
    -ms-grid-row: 17;
    -ms-grid-row-span: 2;
    grid-row: 17/19;
  }
}

.contact-form {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8.75rem;
}

.contact-form h2,
.contact-form p,
.contact-form h4 {
  font-family: "Poiret One", cursive;
}

.contact-form .contact-form-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form .contact-form-left h2 {
  margin-bottom: 1.25rem;
  color: #515e27;
}

.contact-form .contact-form-left .contact-form-left-info {
  margin-top: 2.0625rem;
}

.contact-form .contact-form-left .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.25rem;
}

.contact-form .contact-form-left .wrapper .info {
  margin-left: 1.875rem;
}

.iconbackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  border: 0.0625rem solid #515e27;
}

.iconbackground:hover {
  background-color: #515e2798;
  cursor: pointer;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.contact-form-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-form-right .formwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.contact-form-right .formwrapper label,
.contact-form-right .formwrapper input,
.contact-form-right .formwrapper textarea,
.contact-form-right .formwrapper .form-btn {
  font-family: "Poiret One", cursive;
}

.contact-form-right .formwrapper label {
  color: #515e27;
  font-weight: bold;
  margin-top: 0.625rem;
}

.contact-form-right .formwrapper input {
  height: 1.875rem;
  padding: 0.3125rem;
}

.contact-form-right .formwrapper .form-btn {
  width: 5.62rem;
  margin: 1.875rem 0rem;
  padding: 0.31rem 0.625rem;
  cursor: pointer;
  color: #515e27;
  font-weight: bold;
  border-radius: 0.94rem;
  border: 1px solid black;
}

.contact-form-right .formwrapper .form-btn:hover {
  background-color: #515e2798;
  color: black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

input:focus,
textarea:focus {
  background-color: #515e271f;
}

@media only screen and (max-width: 53.125rem) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form .contact-form-left {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form .contact-form-left .form-title {
    text-align: center;
  }
  .contact-form .contact-form-left .form-text {
    padding: 0rem 3.125rem;
    text-align: center;
  }
  .contact-form .contact-form-right {
    width: 100%;
    margin-top: 3.125rem;
  }
}

@media only screen and (max-width: 34.375rem) {
  .contact-form .contact-form-left-info {
    margin-top: 0.94rem;
  }
  .contact-form .contact-form-left-info .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form .contact-form-left-info .wrapper h4,
  .contact-form .contact-form-left-info .wrapper p {
    padding: 0.625rem;
  }
  .contact-form .contact-form-left-info .wrapper .info {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-form-right {
    margin-top: 4.375rem;
  }
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 8.75rem;
}

.about-wrapper .about-img {
  width: 50%;
  max-height: 31.25rem;
}

.about-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.about-wrapper .about-text {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-wrapper .about-text h2 {
  color: #515e27;
  text-align: center;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
}

.about-wrapper .about-text p {
  font-family: "Poiret One", cursive;
  padding: 1.25rem;
  font-size: 1.25rem;
}

.footer--exceptindex {
  position: relative;
}

footer .copyright-wrapper--color p {
  color: black;
}

footer .link-wrapper--color p {
  color: black;
}

@media only screen and (max-width: 53.125rem) {
  .about-wrapper {
    display: block;
    width: 100%;
  }
  .about-wrapper .about-img {
    width: 100%;
    height: 60vh;
  }
  .about-wrapper .about-text {
    width: 100%;
    padding: 1.25rem;
  }
  .about-wrapper .about-text h2 {
    text-align: center;
    font-size: 1.5rem;
  }
  .about-wrapper .about-text p {
    font-size: 1.15rem;
    padding: 0.625rem;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */